/* TYPHOGRAPHY & IMAGES */
* {
  font-family: 'Lato', sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: grey;
  text-decoration: none;
}
.head-nav a:hover {
  color: grey;
}
.head-nav i:hover {
  color: white;
}
.nav-sx a,.nav-dx a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 10px;
}
.nav-sx i, .nav-dx i {
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10px;
}
.nav-dx i {
  margin: 0;
  margin-right: 10px;
  color: #707070;
}
.nav-dx img {
  height: 30px;
}
.nav-sx .fa-bars {
  color: #f27800;
  font-size: 12px;
}
.head-logo {
  width: 370px;
  height: 117px;
  margin-top: -12px;
  background: url('https://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/Gazzetta_Elements.svg?v=201502260516') 0 34px no-repeat;
}
.video-i {
  height: 120px;
  width: 19%;
  border: 3px solid black;
  position: relative;
  transition: 1s;
}
.video-i:hover {
  transform: scale(1.5);
  z-index: 10;
  transition: 1s;
}
.img-fix {
  max-height: 100%;
  min-width: 100%;
}
.img-fix-ii {
    max-height: 69%;
    min-width: 100%;
}
.img-fix-iii {
  max-height: 118.13px;
}
.video-i h3 {
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: 2px;
  left: 10px;
  font-weight: 700;
}
.menu-sx a {
  text-decoration: none;
}
.menu-sx h3:hover {
  color: #f27800;
}
.menu-sx h3 {
  color: black;
  font-size: 10px;
  font-weight: 700;
  margin-top: 15px;
}
.menu-sx .fa-caret-down {
  margin-top: 10px;
}
#h-menu {
  font-size: 15px;
  font-weight: 700;
  margin-top: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
.menu-sx i {
  color: black;
  font-size: 20px;
  margin: 0 5px;
}
.play-cont i {
  color: white;
  position: absolute;
  bottom: 2.5px;
  right: 7.5px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  transition: .5s ease;
  background-image: linear-gradient(lightgrey, black);
}
.img-container:hover .overlay {
  opacity: 0.75;
}
.img-container {
  position: relative;
  width: 100%;
}
.img-container img {
  width: 100%;
}
.img-container h3 {
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.img-container h4 {
  color: white;
  font-size: 15px;
  margin-left: 6px;
  margin-top: 2px;
  font-weight: 700;
}
.titolino {
  position: absolute;
  left: 10px;
  bottom: 100px;
  background: #f27800;
  height: 20px;
  width: 60px;
  border-radius: 1px;
}
.fa-book {
  color: #f27800;
  margin: 10px 10px;
}
.black-belt h3 {
  color: white;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 700;
  margin-right: 20px;
}
.black-belt a:hover {
  color: white;
}
.head-banner a {
  margin: 15px 18%;
}
.main-dx-text h4 {
  font-size: 13px;
  margin-top: 10px;
  color: #f27800;
  font-weight: 700;
}
.main-dx-text h3 {
  font-size: 22px;
  font-weight: 700;
}
.main-dx-text a {
  color: black
}
.main-dx-text a:hover {
  color: #f27800;
  text-decoration: none;
}
.main-dx-text p {
  font-size: 12px;
}
.main-dx-text h5 {
  font-size: 12px;
  margin-top: 10px;
  color: #f27800;
  font-weight: 400;
}
.main-dx-text h5 span {
  font-size: 11px;
  color: black;
}
.main-dx-small-text h4 {
  font-size: 13px;
  margin: 0;
  font-weight: 700;
  color: black;
}
.main-dx-small-text h4:hover, .main-dx-small-text a:hover {
  text-decoration: none;
  color: #f27800;
}
.banner-iii {
  margin-top: 30px;
}
.small-news h4,.ms-div h4 {
  font-size: 12px;
  margin-top: 10px;
  color: #f27800;
  font-weight: 900;
}
.small-news h3,.ms-div h3 {
  font-size: 14px;
  font-weight: 900;
}
.small-news p {
  font-size: 10px;
}
.small-news h5,.ms-div h5 {
  font-size: 12px;
  margin-top: 10px;
  color: #f27800;
  font-weight: 400;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.ms-div h5 {
  border-bottom: none;
}
.small-news h5 span,.ms-div h5 span {
  font-size: 11px;
  color: black;
}
.small-news a,.ms-div a {
  color: black
}
.small-news a:hover,.ms-div a:hover {
  color: #f27800;
  text-decoration: none;
}
.ms-div img {
  width: 100%;
}
.title-i h3 {
  font-size: 17px;
  font-weight: 900;
}
.cla-ris-title h4 {
  font-size: 12px;
  font-weight: 900;
  margin-top: 5px;
}
.cla-ris-title h5 {
  font-size: 18px;
  font-weight: 700;
  color: #f27800;
}
.cla-ris-title span {
  color: #f27800;
}
.ris-s h5 {
  font-size: 13px;
}
.match-i img {
  max-width: 30px;
  max-height: 30px;
  margin: 0 3%;
}
.match-i h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 5px 3% 0 3%;;
}
.match-i h4 {
  font-size: 12px;
  font-weight: 400;
  margin: 0 10%;
  margin-top: 8px;
  font-weight: 700;
}
.match-i h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 1% 0 1%;
}
.match-i h4 {
  width: 5%;
}
.match-i h5 {
  width: 5%;
}
.match-i .bol-d {
  font-weight: 700;
}
.title-clas h3 {
  font-size: 17px;
  font-weight: 900;
}
.class-i h3 {
  font-weight: 900;
  font-size: 11px;
  margin-top: 7px;
}
.class-i h5 {
  font-weight: 900;
  margin-left: 12%;
  font-size: 15px;
  margin-top: 3px;
}
.foo-t h3 {
  font-size: 13px;
  color: white;
  font-weight: 700;
}
.foo-t h4 {
  font-size: 12px;
  color: white;
}
.foo-t p {
  font-size: 10px;
  color: #707070;
  margin: 0;
  margin-top: 10px;
  /* width: 300px; */
}
/* DIV & CONTAINER ---------------------------------------------------------------- */
body {
  background: #fde9eb;
}
.flex-cont {
  display: flex;
}
.img-inside {
  overflow: hidden;
}
.head-nav {
  background: black;
  height: 50px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  overflow: hidden;
}
.head-logo-cont {
  height: 120px;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
  margin-top: 50px;
}
.head-banner {
  justify-content: center;
}
.active-i {
  border-bottom: 4px solid #f27800;
}
.btn-red {
  background: #da090c;
  border-radius: 4px;
  height: 30px;
  margin-top: 9px;
  margin-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
}
.pes-a {
  padding-top: 9px;
  width: 140px;
  height: 100%;
}
.pes-a:hover {
  background: #413e3e;
}
.barr-a {
  border-left: 0.5px solid rgb(68, 70, 69);
  margin-left: 10px;
}
.barr-aa {
  margin-left: 0;
}
.video-s {
  justify-content: center;
  margin-top: 15px;
}
.play-cont {
  border: 1px solid white;
  border-radius: 3px;
  width: 24px;
  height: 23px;
  padding: 0px 9px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: rgba(82, 78, 80, 0.72);
}
.main-cont {
  padding: 30px 65px;
  height: auto;
}
.main-center {
  padding: 0 40px;
}
.main-dx {
  padding: 0 15px;

}
.main-dx .main-dx-cont {
  flex-direction: column;
  align-items: center;
}
.main-dx .main-dx-text {
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid grey;
}
.menu-sx {
  height: 100%;
  position: sticky;
  z-index: 1;
  top: 60px;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid grey;
  padding-right: 0;
}
.black-belt {
  background: black;
  justify-content: center;
}
.altri-sport {
  border-top: 1px solid grey;
}
.snews-sx {
  margin: 15px 5px;
  width: 50%;
}
.snews-dx {
  margin: 15px 5px;
  width: 50%;
}
.banner-ii {
  border-top: 1px solid grey;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 20%;
}
.middle-snews {
  margin-left: 20%;
  border-top: 1px solid grey;
  padding-top: 10px;
  justify-content: center;
  height: 250px;
}
.ms-div {
  height: 150px;
  width: 25%;
  margin: 0 5px;
}
.title-i {
  margin-left: 20%;
  margin-top: 20px;
  border-top: 3px solid black;
  padding-top: 10px;
}
.title-ii {
  margin-top: 40px;
}
.cla-ris-title {
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.cla-ris {
  height: auto;
  margin-left: 20%;
  margin-top: 40px;
  padding: 0;
  border-bottom: 3px solid black;
  height: 690px;
}
.data-a {
  border-bottom: 1px solid lightgrey;
  height: 30px;
  margin-top: 20px;
}
.match-i {
  height: 40px;
  margin-top: 10px;
  border-bottom: 1px dotted lightgrey;
}
.match-i > *{
  float: left;
  width: 10%;
}
.ris-s {
  border-right: 1px solid grey;
  height: auto;
}
.title-clas {
  border-bottom: 1px solid lightgrey;
  margin-top: 21px;
}
.class-i {
  height: 40px;
  width: 100%;
}
.si-parla {
  width: 150px;
}
.ham-b {
  display: none;
}
.pes-aa {
  display: none;
}
.foo-t {
  background: black;
  height: 300px;
}
.f-sx {
  margin-top: 50px;
}
.fot-titl {
  border-bottom: 1px solid grey;
}
.f-dx-element {
  width: 32%;
  float: left;
  margin-top: 50px;
  margin-right: 1%;
}
/* MEDIA QUERY----------------------------------------------------------------- */
@media (max-width: 1200px) {
  .main-cont {
    height: 2700px;
  }
  .video-ii {
    display: none;
  }
  .video-i {
    width: 23%;
  }
  .nav-sx {
    display: none;
  }
  .nav-dx {

  }
  .ham-b {
    display: inherit;
    color: #707070;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 2%;
  }
  .cla-ris {
    display: block;
    border-bottom: none;
  }
  .ris-s {
    border-right: none;
  }
  .img-container h3 {
    font-size: 18px;
  }
  .menu-sx h3 {
    font-size: 8px;
  }
  .menu-sx i {
    font-size: 15px;
  }
  #h-menu {
    font-size: 10px;
  }
  .black-belt h3 {
    font-size: 9px;
    margin: 0;
    margin-top: 12px;
  }
}
@media (max-width: 1000px) {
  .video-iii {
    display: none;
  }
  .video-i {
    width: 31%;
  }
}
@media (max-width: 900px) {
  .nav-dx {
    display: none;
  }
  .pes-aa {
    display: inherit;
    padding-top: 9px;
    height: 100%;
    width: 22%;
  }
  .pes-aa a {
    color: #707070;
    margin-left: 15px;
    /* float: right; */
  }
}
@media (max-width: 500px) {
  .pes-aa img,.menu-sx,.head-banner {
    display: none;
  }
  .pes-aa {
    width: 10%;
  }
  .pes-aa a {
    margin-left: 5px;
    margin-top: 3px;
  }
  .match-i img {
    max-width: 20px;
    max-height: 20px;
    margin: 0 3%;
  }
.match-i h3 {
    font-size: 12px;
    margin: 5px 5% 0 3%;
  }
  .main-dx-small-text h4 {
    text-align: center;
  }
  .title-clas h3 {
    text-align: center;
  }
  .video-iiii {
    display: none;
  }
  .video-i {
    width: 60%;
  }
  .cla-ris {
    margin-left: 0;
  }
  .cont-centrale {
    display: flex;
    justify-content: center;
  }
  .cont-centrale > * {
    margin-left: 0;
  }
  .main-cont {
    height: 2700px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .ms-div {
    width: 50%;
  }
  .ms-div-i {
    display: none;
  }
  .title-i h3 {
    text-align: center;
  }
  .banner-ii,.banner-iii {
    display: none;
  }
  .title-ii {
    margin-top: 5px;
  }
  .ris-s h5 {
    margin-top: 5px;
  }
  .foo-t {
    height: 500px;
  }
}
@media (max-width: 400px) {
  .video-i {
    width: 80%;
  }
  .small-news {
    justify-content: center;
  }
  .fa-book {
    margin: 10px 5px;
  }
  .img-container h3 {
    font-size: 15px;
    bottom: 5px;
  }
  .titolino {
    bottom: 50px;
  }
  .snews-dx-i {
    width: 90%;
  }
  .snews-dx-ii {
    display: none;
  }
  .ms-div-ii {
    display: none;
  }
  .ms-div {
    width: 50%;
  }
  .si-parla {
    justify-content: flex-end;
  }
  .data-a {
    margin-top: 0;
  }
  .title-ii h3 {
    font-size: 12px;
  }
  .title-ii h4 {
    font-size: 12px;
    margin: 0;
  }
  .title-ii h5 {
    font-size: 12px;
  }
  .match-i h3 {
    font-size: 12px;
    margin: 5px 6% 0 3%;
  }
  .match-i h4 {
    margin-top: 4px;
  }
  .match-i h5 {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0% 0 1%;
    width: 3%;
  }
  .class-i h5 {
    font-weight: 900;
    margin-left: 10%;
    font-size: 12px;
    margin-top: 3px;
  }
}
@media (max-width: 350px) {
  .match-i h3 {
    font-size: 10px;
    margin: 5px 7% 0 3%;
  }
  /* questa sotto e' una gosinata ma non saprei come fare altrimenti */
  .head-logo {
    width: 370px;
    height: 118px;
    margin-top: -38px;
    margin-left: 55px;
    background: url(https://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/Gazzetta_Elements.svg?v=201502260516) 0 73px no-repeat;
    background-size: cover;
  }
  .head-logo-cont {
    height: 100px;
  }
}
